{% load static %}

<head>
    <!--  Include - Serve para incluir um trecho de código dentro da página de destino. -->
    {% include 'parciais/_head.html' %}

    <title>Template Bootstrap</title>

</head>

<body>

{% include 'parciais/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {%block conteudo%}
            {%endblock%}
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'paginas/vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'paginas/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


